h1{
    text-align: center;
    margin: 0;
    font-size: 50px;
}

p{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

body{
    background-image: url(shaymin.jpg);
}
.buttons{
    text-align: center;
}

.cards{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 2%;
    grid-column-gap: 2%;
}

.cards img{
    width:100%;
    height:100%;
}

@media (max-width: 600px){
    h1{
        font-size: 30px;
        padding-top: 20%;
    }
}

@media (min-width: 1025px) {
    body{
    background-size: cover;
    background-repeat: no-repeat;
    }
}

@media(min-width: 820px) and (min-height:1180px){
    h1{
        padding-top: 15%;
    }
    body{
        background-size: cover;
        background-repeat: no-repeat;
        }
}